[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
openpyxl = "*"
whitenoise = "*"
django-debug-toolbar = "*"
gspread = "*"
oauthclient = "*"
oauth2client = "*"
apscheduler = "*"
pydotplus = "*"
pillow = "*"

[requires]
python_version = "3.7"
